name: Build Images
on: 
  - push
jobs:
  build:

    name: Build envsubst
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Build the Docker container image
      run: docker build -t ${{ github.repository }}/latest .

    - name: Push the image to Dockerhub
      run: |
        dockerhub_username=`echo "${{ github.repository }}" | awk -F"/" '{print $1}'`
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u $dockerhub_username --password-stdin
        docker push ${{ github.repository }}/latest
